snippet #meta
###########################################################
# author:   Austin Larsen
#
# synopsis: $1
#
# date:     ${2:`date`} 
###########################################################
endsnippet
