snippet def
def $1($2):
	$3
endsnippet

snippet defa
def $1($2) -> $3:
	$4
endsnippet

snippet defm
defm $1(self, $2):
	$3
endsnippet

# annotations
snippet defma
def $1(self, $2) -> $3:
	$4
endsnippet
